body{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(21, 21, 21);
}

h1 {
    color: white;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 50%;
    width: 100%;
}

.card{
    cursor: pointer;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    transform: rotateY(180deg);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.back{
    background-image: url(../img/background.png); 
}

.front[data-card="1"]{
    background-image: url(../img/bbe6f4103563031.5f50b135a0b96.jpg);
}
.front[data-card="2"]{
    background-image: url(../img/2.jpg);
}
.front[data-card="3"]{
    background-image: url(../img/3.jpg);
}
.front[data-card="4"]{
    background-image: url(../img/4.jpg);
}

/* end first row*/

.bot {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 50%;
    width: 100%;
}

.flipped.card {
    transform: rotateY(0deg);
    
}